*.dll
*.exe
*.pdb
*.nupkg
/bin
/obj
appsettings.Development.json
Properties/serviceDependencies.local.json
Properties/serviceDependencies.local.json.user
**/[Bb]in/
**/[Oo]bj/
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
.vscode/
Properties/launchSettings.json
Properties/serviceDependencies.local.json
Properties/serviceDependencies.local.json.user